.bottom-footer {
  background-color: #1b1e24;
  color: white;
  margin-top: 80px;
  padding-top: 20px !important;
  padding-bottom: 40px !important;
}
.bottom-footer h5 {
  color: white;
  font-size: 14px;
}

.footer-3 {
  background-color: #f8f8f8;
  padding-top: 80px;
  margin-top: -20px;
}
