<div class="scr">
  <div id="content" class="content-landing">
    <div class="rst-banner-term rst-banner-faq">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="manual-remove-content">
              <h1 class="content-title">We’d love to hear from you</h1>
              <p class="content-sub-title">
                Send us a message and we’ll repond within 24 hours
              </p>
              <p class="content-benefit">
                <i
                  class="fa fa-twitter-square icon1"

                ></i>
                <a target="_blank" href="https://twitter.com/OguzhanCart">
                  https://twitter.com/OguzhanCart
                </a>
              </p>
              <p class="content-benefit">
                <i
                  class="fa fa-linkedin-square icon2"

                ></i>
                <a target="_blank" href="https://www.linkedin.com/in/o%C4%9Fuzhan-%C3%A7art-b73405199/">
                  Oğuzhan ÇART
                </a>
              </p>
              <p class="content-benefit">
                <i
                  class="fa fa-instagram icon3"

                ></i>
                <a target="_blank" href=" https://www.instagram.com/oguzhan_cart">
                  https://www.instagram.com/oguzhan_cart
                </a>
              </p>
              <p class="content-benefit">
                <i
                  class="fa fa-envelope icon4"

                ></i>
                <a href="mailto:oguzhancart1@gmail.com" target="_blank"> oguzhancart1@gmail.com </a>
              </p>

            </div>
          </div>
          <div class="col-md-6">
            <div class="manual-remove-form">
              <div class="manual-remove-form__header">Send us a Message</div>
              <div class="manual-remove-form__content">
                <div
                  role="form"
                  class="wpcf7"
                  id="wpcf7-f7-p37-o1"
                  lang="en-US"
                  dir="ltr"
                >
                  <div class="screen-reader-response">
                    <p role="status" aria-live="polite" aria-atomic="true"></p>
                    <ul></ul>
                  </div>
                  <form
                    action="/contact/#wpcf7-f7-p37-o1"
                    method="post"
                    class="wpcf7-form init"
                    novalidate="novalidate"
                    data-status="init"
                  >
                    <div class="dis">
                      <input type="hidden" name="_wpcf7" value="7" />
                      <input
                        type="hidden"
                        name="_wpcf7_version"
                        value="5.4.1"
                      />
                      <input type="hidden" name="_wpcf7_locale" value="en_US" />
                      <input
                        type="hidden"
                        name="_wpcf7_unit_tag"
                        value="wpcf7-f7-p37-o1"
                      />
                      <input
                        type="hidden"
                        name="_wpcf7_container_post"
                        value="37"
                      />
                      <input
                        type="hidden"
                        name="_wpcf7_posted_data_hash"
                        value=""
                      />
                      <input
                        type="hidden"
                        name="_wpcf7_recaptcha_response"
                        value=""
                      />
                    </div>
                    <div class="row">
                      <div class="group-input col-md-12">
                        <span class="wpcf7-form-control-wrap your-name"
                          ><input
                            type="text"
                            name="your-name"
                            value=""
                            size="40"
                            class="
                              wpcf7-form-control
                              wpcf7-text
                              wpcf7-validates-as-required
                            "
                            aria-required="true"
                            aria-invalid="false"
                            placeholder="Your Name"
                        /></span>
                      </div>
                      <div class="group-input col-md-12">
                        <span class="wpcf7-form-control-wrap your-email"
                          ><input
                            type="email"
                            name="your-email"
                            value=""
                            size="40"
                            class="
                              wpcf7-form-control
                              wpcf7-text
                              wpcf7-email
                              wpcf7-validates-as-required
                              wpcf7-validates-as-email
                            "
                            aria-required="true"
                            aria-invalid="false"
                            placeholder="Your Email"
                        /></span>
                      </div>
                      <div class="group-input col-md-12">
                        <label>How can We help you?</label
                        ><span class="wpcf7-form-control-wrap your-message">
                          <textarea
                            name="your-message"
                            cols="40"
                            rows="10"
                            class="
                              wpcf7-form-control
                              wpcf7-textarea
                              wpcf7-validates-as-required
                            "
                            aria-required="true"
                            aria-invalid="false"
                          ></textarea>
                        </span>
                      </div>
                      <div class="rst-button-submit text-center col-md-12">
                        <input
                          type="submit"
                          value="SEND"
                          class="wpcf7-form-control wpcf7-submit"
                        />
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
