.rm-faq-list {
  width: 855px;
  margin: 0 auto;
  padding: 30px 25px;
  box-shadow: 0 0 5px 5px rgb(0 0 0 / 4%);
  margin-bottom: 20px;
}

.rm-heading {
  text-align: center;
  margin-bottom: 80px;
}

.rm-faq-list .rm-faq-title {
  color: #4a76fe;
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 16px;
}

.content-landing .rst-banner-term .manual-remove-form {
  margin-left: 30px;
  margin-right: 65px;
  display: block;
  min-height: 500px;
  box-shadow: 0 0 8px 1px rgb(0 0 0 / 4%);
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.content-landing .rst-banner-term .manual-remove-form__header {
  border-radius: 10px 10px 0 0;
  background-color: #7b4fa7;
  color: #fff;
  font-size: 18px;
  padding: 20px 35px;
  font-weight: 600;
  text-transform: none;
}
.content-landing .rst-banner-term .manual-remove-form input[type="submit"] {
  color: #fff;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  background-color: #58b952;
  display: block;
  font-size: 16px;
  padding: 11px;
  border: none;
  transition: none;
  user-select: none;
  transition: 0.5s;
}
.content-landing
  .rst-banner-term
  .manual-remove-form
  input[type="submit"]:hover {
  color: #fff;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  background-color: #58b952;
  display: block;
  font-size: 16px;
  border-radius: 20px;
  padding: 11px;
  border: none;
  transition: none;
  user-select: none;
  transition: 0.5s;
}

.content-container {
  padding-top: 0px;
}

.content-landing {
  position: relative;
  padding-top: 70px;
  padding-bottom: 0px;
}

.rst-home-blog {
  background-color: #7b4fa7;
  padding-top: 80px;
  padding-bottom: 80px;
  color: #fff;
}


.scr{
  overflow: hidden !important
}


.icon1{
  color: #00a2f3;
  font-size: 22px;
  margin-right: 10px;
  vertical-align: bottom;
}

.icon2{
  color: #1877f2;
  font-size: 22px;
  margin-right: 10px;
  vertical-align: bottom;
}

.icon3{
  color: #e60023;
  font-size: 22px;
  margin-right: 10px;
  vertical-align: bottom;
}

.icon4{
  color: #ff3c65;
  font-size: 20px;
  margin-right: 10px;
  vertical-align: bottom;
}

.icon5{
  color: #4e7efe;
  font-size: 22px;
  margin-right: 10px;
  vertical-align: bottom;
}

.icon6{
  color: #ea4a33;
  font-size: 23px;
  margin-right: 10px;
  vertical-align: bottom;
}

.icon7{
  color: #ea4a33;
  font-size: 23px;
  margin-right: 10px;
  vertical-align: bottom;
}

.dis{
  display: none
}
.col{
  color: black;
}
