<div class="over">
  <div
    class="
      rm-upload-process-content rm-hidden rm-upload-container
      page-template-template-general
    "
  >
    <p class="ImageUploadMainText">
      Remove The Background From Your Image Instantly
    </p>
    <div class="rm-upload-process-top">
      <div class="container-fluid" *ngIf="showSuccessMsg == false">
        <div class="row mb-5 topflex">
          <div class="banner-width">
            <div class="card card-alert text-white">
              <div
                class="card-body d-flex justify-content-between align-items-end"
              >
                <div class="card-number">
                  <div class="h3 m-0"></div>
                  "Please don't close the window or browser because otherwise
                  you will not be able to download the results! No data / image
                  is stored on our servers - therefore we can not restore the
                  results and you have to convert them again.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid" *ngIf="showSuccessMsg == true">
        <div class="row mb-5 topflex">
          <div class="banner-width">
            <div class="card card-success text-white">
              <div
                class="card-body d-flex justify-content-between align-items-end"
              >
                <div class="card-number">
                  <div class="h3 m-0"></div>
                  Your Images Has Been Successfully Converted. Please Download
                  it Using the Download Button Below Each Image
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="rm-upload-inner rm-hidden">
        <form method="post" enctype="multipart/form-data" id="form_upload">
          <div class="rst-form-group-choose">
            <div class="rst-form-group rst-form-group-drag">
              <div class="rm-upload-message rm-hidden">
                <div class="container">
                  <div class="row" *ngIf="filePath && filePath.length > 0">
                    <div
                      class="col-md-4 imgcard"
                      *ngFor="let imagePath of filePath; let i = index"
                    >
                      <div class="cancle" (click)="removeImage(i)">
                        <i class="fa fa-times" aria-hidden="true"></i>
                      </div>
                      <div class="rm-upload-utilities-item">
                        <img
                          [src]="imagePath"
                          alt=""
                          width="244"
                          height="180"
                          class="imageUploaded"
                        />
                      </div>
                      <a
                        class="download"
                        [href]="downloadUrl[i].lowResolutionUrl"
                        *ngIf="
                          showDownloadButton == true &&
                          downloadUrl[i] != undefined &&
                          downloadUrl[i].lowResolutionUrl != undefined
                        "
                        ><i class="fa fa-download" aria-hidden="true"></i>
                        Download</a
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="rst-form-group-button">
                <label
                  id="rst_choose_upload"
                  [ngClass]="imgData.length == 3 ? 'disabled' : ''"
                  for="rm_upload_file"
                  ><i class="fa fa-picture-o" aria-hidden="true"></i> UPLOAD
                  IMAGE ({{ this.imgData.length }})</label
                >
                <input
                  type="file"
                  class="form-control"
                  id="rm_upload_file"
                  name="rm_file_upload"
                  (change)="imagePreview($event)"
                  accept="image/png,image/jpg,image/jpeg"
                  [disabled]="this.imgData.length == 3"
                />
                <label
                  class="con"
                  (click)="openModal(); CalculatePricing()"
                  *ngIf="this.imgData.length > 0"
                  ><i class="fa fa-refresh" aria-hidden="true"></i> Start
                  Conversion</label
                >

                <span class="imageUploadText" *ngIf="imgData.length == 3"
                  >You Cannot Upload More Then 3 Images</span
                >
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="rm-upload-process-bottom" id="rm-upload-result">
      <div class="rm-upload-process-bottom-inner"></div>
      <p class="msg" id="Demo" fragment="Demo">
        Please download your files. They will be discarded automatically. Images
        are not stored on our server
      </p>
    </div>
  </div>
  <!-- *ngIf="showPreview" -->
  <!-- <div id="Demo" fragment="Demo"></div> -->
  <div class="container mt-5" *ngIf="showPreview && downloadUrl.length > 0">
    <div class="row">
      <div class="offset-sm-2 col-md-6 ml-auto col-xl-6 mr-auto">
        <div class="cardimageremove">
          <div class="card-header">
            <ul class="nav nav-tabs justify-content-center" role="tablist">
              <li class="nav-item">
                <a
                  [ngClass]="showOriginal ? 'nav-link active' : 'nav-link'"
                  data-toggle="tab"
                  role="tab"
                  (click)="toggleImagePreview()"
                >
                  Original
                </a>
              </li>
              <li class="nav-item">
                <a
                  [ngClass]="showConverted ? 'nav-link active' : 'nav-link'"
                  data-toggle="tab"
                  role="tab"
                  (click)="toggleImagePreview()"
                >
                  Remove background
                </a>
              </li>
            </ul>
          </div>
          <div class="card-body">
            <div class="tab-content text-center">
              <div class="tab-pane active" id="home" role="tabpanel">
                <img
                  class="black previewImageBorder"
                  [src]="
                    showOriginal == true && showConverted == false
                      ? filePath[activeIndex]
                      : convertedImgData[activeIndex]
                  "
                  width="417"
                  height="100"
                />
              </div>
            </div>
          </div>
          <div class="thumbnailContainer">
            <div
              class="thumbnail"
              *ngFor="let imagePath of filePath; let i = index"
            >
              <img
                [src]="imagePath"
                class="thumbnailImage"
                (click)="setActiveIndex(i)"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3 ml-auto col-xl-6 mr-auto">
        <div class="cardimageremove1 mobilecardpreview">
          <div class="verticallyCentered">
            <ul
              class="nav nav-tabs justify-content-center"
              role="tablist"
              style="align-items: center; display: flex"
            >
              <li class="nav-item mb-2 mt-5">
                <a
                  class="nav-link active1"
                  data-toggle="tab"
                  role="tab"
                  *ngIf="
                    downloadUrl[activeIndex] != undefined &&
                    downloadUrl[activeIndex].lowResolutionUrl != undefined
                  "
                  [href]="downloadUrl[activeIndex].lowResolutionUrl"
                >
                  <i class="fa fa-download" aria-hidden="true"></i> Download
                </a>
              </li>
              <label class="msg">
                Preview Image {{ downloadUrl[activeIndex].preview_width }} x
                {{ downloadUrl[activeIndex].preview_height }}
              </label>
              <li class="nav-item mb-2 mt-5">
                <!--
Comment Down the below button for production or actual deployment usecase
                 -->
                <a
                  class="nav-link active1"
                  data-toggle="tab"
                  role="tab"
                  *ngIf="
                    downloadUrl[activeIndex] != undefined &&
                    downloadUrl[activeIndex].previewUrl != undefined
                  "
                  [href]="downloadUrl[activeIndex].previewUrl"
                >
                  <i class="fa fa-download" aria-hidden="true"></i> Download HD
                </a>

                <!--
Comment Down the below button for production or actual deployment usecase
 -->

                <!-- <a class="nav-link active1" data-toggle="tab" role="tab" *ngIf="
                    downloadUrl[activeIndex] != undefined &&
                    downloadUrl[activeIndex].highResolutionUrl != undefined
                  " [href]="downloadUrl[activeIndex].highResolutionUrl">
                  <i class="fa fa-download" aria-hidden="true"></i> Download HD
                </a> -->
              </li>
              <label class="msg">
                Full Image {{ downloadUrl[activeIndex].original_width }} x
                {{ downloadUrl[activeIndex].original_height }}
              </label>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row topflex">
    <div class="rm-upload-utilities">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="rm-upload-utilities-item">
              <img
                src="../../assets/images/upload1.png"
                alt=""
                width="244"
                height="180"
              />
              <p class="rm-upload-utilities-title">
                Fully Automated Background Remover
              </p>
              <p class="rm-upload-utilities-content">
                Instantly get transparent background image in almost no time.
                Fully automated and free.
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="rm-upload-utilities-item">
              <img
                src="../../assets/images/upload2.png"
                alt=""
                width="244"
                height="180"
              />
              <p class="rm-upload-utilities-title">Replace to Any Background</p>
              <p class="rm-upload-utilities-content">
                Easily replace the distracting background with solid background
                colors or use any other images as the background.
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="rm-upload-utilities-item">
              <img
                src="../../assets/images/upload3.png"
                alt=""
                width="244"
                height="180"
              />
              <p class="rm-upload-utilities-title">Design the way you want</p>
              <p class="rm-upload-utilities-content">
                Get a transparent image then easily yet effectively create
                stunning banners just in a matter of minutes.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <modal #myModal>
        <modal-header>
          <h3>Finalize Billing</h3>
        </modal-header>
        <modal-content>
          <div class="row topflex topflexmedia" *ngIf="show">
            <div class="col-12 col-sm-6 col-md-4 fullCardWidth fullCardWidth1">
              <div class="course course1">
                <div class="course-preview course-preview-mobile">
                  <h6 class="pri pri-mobile">Price</h6>
                  <h2 class="pri pri-mobile">
                    ${{ (this.totalBilling * 1).toFixed(2) }}
                  </h2>
                </div>
                <div class="course-info course-info1 course-info-mobile">
                  <div class="progress-container progress-container1">
                    Removing Background of {{ this.totalQuantity }} Images
                  </div>
                  <h3 class="pri-mobile1">{{ this.totalQuantity }}</h3>
                  <h4 class="pri-mobile1">Total images</h4>
                  <!--
                    When you want to test out the payment system or before moving for production deployment
                    just replace (click) event with the below line
                    (click)="showPaymentOption()"
                   -->
                  <button
                    class="btn btn-mobile"
                    (click)="showPaymentOption(); convertImages()"
                  >
                    Proceed
                  </button>
                </div>
              </div>
            </div>
          </div>
          <ngx-paypal [config]="payPalConfig" *ngIf="show2"></ngx-paypal>
        </modal-content>
        <modal-footer>
          <!-- <button class="btn1 btn2 btn-success" (click)="convertImages()">
            Convert Image
          </button> -->
          <button class="btn1 btn-success" (click)="closeModal()">close</button>
        </modal-footer>
      </modal>
    </div>
  </div>
</div>
