@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=M+PLUS+2:wght@300&display=swap");

.rst-form-group-choose label {
  cursor: pointer;
  text-transform: uppercase;
  font-size: 15px;
  height: 57px;
  line-height: 57px;
  display: inline-block;
  color: #fff;
  padding: 0 35px;
  background: #7b4fa7;
  margin-bottom: 10px;
  border-radius: 4px;
  transition: 0.5s;
}

.rst-form-group-choose .rst-form-group {
  border: 1px solid #ffffff;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 45px 30px 35px 30px;
  position: relative;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.new-home-content .upload_label_banner > span {
  margin: 0 6px;
  font-size: 13px;
  background-color: #b39ddb;
  padding: 3px 6px;
  font-weight: 600;
  color: #fff;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
}

a {
  color: #7b4fa7;
  font-weight: bold;
  text-decoration: none;
  transition: 0.5s;
}
p {
  margin: 0em 0em 1em;
  line-height: 30px;
}

.new-home-content .rst-say-hi .rst-say-hi-content h3 {
  color: #7b4fa7 !important;
}

.new-home-content .rst-say-hi .rst-say-hi-content {
  color: #7b4fa7 !important;
}

.rst-say-hi .hi {
  background-color: #7b4fa7;
  color: #fff;
  font-weight: 700;
  padding: 15px 25px;
  border-radius: 4px;
  transition: 0.5s;
}

.new-home-content .rst-customer-comment {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.rst-home-blog {
  background-color: #7b4fa7;
  padding-top: 80px;
  padding-bottom: 80px;
  color: #fff;
}
.testimonials-clean {
  color: #313437;
  background-color: #f8f8f8;
}

.testimonials-clean p {
  color: inherit;
}

.msg {
  color: inherit !important;
}

.testimonials-clean h2 {
  font-weight: bold;
  margin-bottom: 40px;
  padding-top: 40px;
  color: inherit;
}

@media (max-width: 767px) {
  .testimonials-clean h2 {
    margin-bottom: 25px;
    padding-top: 25px;
    font-size: 24px;
  }
}

.testimonials-clean .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto;
}

.testimonials-clean .intro p {
  margin-bottom: 0;
}

.testimonials-clean .people {
  padding: 50px 0 20px;
  justify-content: center;
}

.testimonials-clean .item {
  margin-bottom: 32px;
}

@media (min-width: 768px) {
  .testimonials-clean .item {
    height: 220px;
  }
}

.testimonials-clean .item .box {
  padding: 30px;
  background-color: #fff;
  position: relative;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: 0.5s;
  border-radius: 20px;
}

.testimonials-clean .item .box:hover {
  padding: 30px;
  background-color: #7b4fa7;
  position: relative;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 20px;
  transition: 0.5s;
  color: white !important;
}

.testimonials-clean .item .box:after {
  content: "";
  position: absolute;
  left: 30px;
  bottom: -24px;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-width: 12px 15px;
  border-top-color: #fff;
}

.testimonials-clean .item .box:hover:after {
  content: "";
  position: absolute;
  left: 30px;
  bottom: -24px;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-width: 12px 15px;
  border-top-color: #7b4fa7 !important;
}

.testimonials-clean .item .author {
  margin-top: 28px;
  padding-left: 25px;
}

.testimonials-clean .item .name {
  font-weight: bold;
  margin-bottom: 2px;
  color: inherit;
}

.testimonials-clean .item .title {
  font-size: 13px;
  color: #9da9ae;
}

.testimonials-clean .item .description {
  font-size: 15px;
  margin-bottom: 0;
}

.testimonials-clean .item img {
  max-width: 40px;
  float: left;
  margin-right: 12px;
  margin-top: -5px;
}

.rst-banner {
  padding-top: 111px;
  padding-bottom: 50px;
}

.new-home-content .right-banner {
  padding-top: 0px;
}

.testimonials-clean {
  padding: 50px 0 50px !important;
}

@media (min-width: 871px) and (max-width: 991px) {
  .rst-form-group-choose .rst-form-group {
    width: 830px;
  }

  .imgbn1 {
    width: 900px;
  }
}

@media (min-width: 768px) and (max-width: 891px) {
  .imgbn2 {
margin-top: 20% !important;
  }

}

@media (min-width: 768px) and (max-width: 991px) {
  .imgbn3 {
margin-top: 20% !important;
  }

}




.imgbn1 {
  border-radius: 20px;
  height: 70vh;
}

.title_banner {
  font-family: "M PLUS 2", sans-serif;
  color: indigo !important;
}

.thirdimage_content {
  padding-left: 10px !important;
}

.truted_company {
  line-height: 50px;
}

.truted_company_opa {
  opacity: 0.5;
}

.truted_company_logo1 {
  max-height: 120px;
}

.truted_company_logo2 {
  max-height: 70px;
}

.truted_company_logo3 {
  max-height: 150px;
}

.truted_company_logo4 {
  max-height: 60px;
}

.truted_company_logo5 {
  max-height: 80px;
  padding-left: 40px;
}
