<div>
  <div id="wrapper">
    <div class="rst-inner-header">
      <div class="container">
        <div class="rst-logo">
          <a>
            <img
              class="black"
              width="217"
              height="40"
            />
          </a>
        </div>
      </div>
    </div>
  </div>

  <div id="content" class="new-home-content">
    <div class="rst-banner">
      <div class="container">
        <div class="left-banner">
          <div class="_twentytwenty-container">
            <img
              class="imgbn1"
              width="536"
              height="0"
              src="../../assets/images/home-image/gift-banner/banner-remover-animate.gif"
              alt="Banner IBR-1"
            />
          </div>
        </div>
        <div class="right-banner">
          <h1 class="title_banner">
            Remove Image Background Using Artificial Intelligence
          </h1>
          <div class="rm-upload-content rm-upload-free">
            <div class="rm-upload-inner">
              <form enctype="multipart/form-data" id="form_upload">
                <div class="rst-form-group-choose">
                  <div class="rst-form-group rst-form-group-drag rst-free">
                    <div class="rm-upload-message rm-hidden"></div>
                    <div
                      class="rst-form-group-button"
                      [routerLink]="['/imageupload']"
                    >
                      <label for="rm_free_upload_file">Start Converting</label>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>

          <div class="drop-image-wrapper">
            <div class="drop-image-backdrop"></div>
          </div>
          <span class="upload_label_banner"
            >Getting Started with Image Conversion using <span [routerLink]="['/imageupload']" style="cursor:pointer;">IBR </span>
          </span>
          <p class="privacy-banner">
            By uploading an image you agree to our
            <a target="_blank" [routerLink]="['/termcondition']"
              >Terms of Service</a
            >
            . This site is protected and its
            <a target="_blank" [routerLink]="['/privacypolicy']"
              >Privacy Policy</a
            >
            and
            <a target="_blank" [routerLink]="['/termcondition']"
              >Terms of Service</a
            >
            apply.
          </p>
        </div>
        <div class="clear"></div>
      </div>
    </div>

    <div class="rst-our-work">
      <div class="container">
        <h2 class="rst-title title-v2">
          <span class="title_banner">What IBA Can Do For You...</span>
        </h2>
        <div class="rst-tab-content">
          <div class="">
            <div class="row rst-product-item">
              <div class="col-md-7 rst-product-image">
                <img
                  class="imgbn1 imgbn2 imgbn3"
                  src="../../assets/images/home-image/gift-banner/bg-remover-1.gif"
                  width="602"
                  height="426"
                  alt="Banner IBR-2"
                />
              </div>
              <div class="col-md-5 rst-product-content">
                <h4 class="title_banner">
                  Remove The Background From Your Image Instantly
                </h4>
                <p>
                  Get images in a transparent, white or customized background in
                  3 seconds or less for free.
                </p>
                <p class="rst-product-content-item">
                  Automatically detect subjects on photos
                </p>
                <p class="rst-product-content-item">
                  Neat, clear & smooth cutout edges
                </p>
                <p class="rst-product-content-item">
                  Capable of handling hair or any other fur edges
                </p>
                <p class="rst-product-content-item">
                  Process over 1,000 of images in a single upload
                </p>
                <a [routerLink]="['/']">Try Our Free Background Remover</a>
              </div>
            </div>
            <div class="row rst-product-item">
              <div class="col-md-5 rst-product-content">
                <h4 class="title_banner">
                  Fun To Use - Make Cool Designs As You Like
                </h4>
                <p>
                  Our Photo Editor tool is a great added value to our innovative
                  technology.
                </p>
                <p class="rst-product-content-item">
                  Quickly remove and change the background
                </p>
                <p class="rst-product-content-item">Add texts and effects</p>
                <p class="rst-product-content-item">
                  Edit foreground manually using background eraser tool
                </p>
                <p class="rst-product-content-item">
                  Presets to fit in different marketplaces.
                </p>
                <a>Try Our Free Online Photo Editor</a>
              </div>
              <div class="col-md-7 rst-product-image">
                <img
                  class="imgbn1 imgbn2 imgbn3"
                  src="../assets/images/banner 1.webp"
                  width="602"
                  height="426"
                />
              </div>
            </div>
            <div class="row rst-product-item">
              <div class="col-md-7 rst-product-image">
                <img
                  class="imgbn1 imgbn2 imgbn4"
                  src="../assets/images/banner 2.jpg"
                  width="602"
                  height="426"
                />
              </div>
              <div class="col-md-5 rst-product-content thirdimage_content">
                <h4 class="title_banner">
                  Easy API Integration For Speedy Workflow
                </h4>
                <p>
                  Integrate our API to your existing systems in just a few lines
                  of code.
                </p>
                <p class="rst-product-content-item">
                  Reliable, efficient & scaleable
                </p>
                <p class="rst-product-content-item">
                  Optimized for different purposes and use-case
                </p>
                <p class="rst-product-content-item">99% uptime guarantee</p>
                <p class="rst-product-content-item">
                  100% GDPR compliant file storage
                </p>
                <p class="rst-product-content-item">
                  Dedicated customer support
                </p>
                <a [routerLink]="['/contact']"
                  >Contact Us For Your Custom Needs</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="rst-say-hi">
      <div class="container">
        <div class="rst-say-hi-content">
          <h3>
            Save your time, energy and money. <br />Let IBR be your partner!
          </h3>
          <p>
            More than just removing image background, we built IBR.AI to
            help our customers realize their ideas, enabling them to fully use
            their creative power and unlock their business potential. If you
            need help, we are happy to work with you!
          </p>
          <a class="hi" [routerLink]="['/contact']">Say Hi To Our Team</a>
        </div>
        <div class="rst-say-hi-image">
          <img
            src="../assets/images/say-hi.png"
            width="233"
            height="263"
          />
        </div>
      </div>
    </div>
    <div class="rst-home-blog">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <h3>So who is the ÇART APP ? <a [routerLink]="['/']"> </a></h3>
            <ul>
              <li>
                <a
                  >A software community founded by Oğuzhan ÇART.</a >
              </li>

            </ul>
          </div>
          <div class="col-md-4">
            <div class="rst-subscription-form">
              <h3>Get Updates</h3>
              <p>
                Sign up for our mailing list and we will let you know when we
                release new features or updates.
              </p>
              <span><b>Email address</b></span>
              <input type="text" placeholder="example@example.com" />
              <button aria-label="Subcriber">
                <i class="fa fa-paper-plane" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
